*{
    margin: 0;padding: 0;list-style-type: none;text-decoration: none;box-sizing: border-box;font-family: monospace;
}
.font_size_20px
{
    font-size: 20px;
}
.nav_container{
    height: 30px;width: 30px;display: flex;flex-direction: column;justify-content: space-between;
}
.nav_container span{
    height: 4px;width: 100%;background-color: black;
}
.cursur_pointeR{
    cursor: pointer;
}
.logow{
    max-width: 250px;
}
.bigimg{
    min-height: 340px;
    min-width:100%;
}
.bigimg img{
    width: 100%;
}
.max_smallimg{
    max-width: 100px !important;
}
.fs_56{
    font-size: 56px;
}
.strike{
    text-decoration: line-through;
}
.fs_30{
    font-size: 25px;
}
    .quantity-container {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .quantity-button {
            background-color: grey;
            color: white;
            border: none;
            cursor: pointer;
            padding: 5px 10px;
        }
.example::-webkit-scrollbar {
  display: none;
}
.buynow{
    padding:10px 20px;
    border: 1px solid black ;
    color: white;
    background-color:black;
    border-radius: 50px;
    transition: all.3s linear;
}
.buynow:hover{
    background-color: transparent;
    color: black;
    
}
.ofer{
    font-size: 16px;
    color: red;
    font-style: oblique;
}
.submit{
    font-size: 18px;
    background-color: black;    border-radius: 50px;
    transition: all.3s linear;
    padding:10px 20px;

    color: white;
    border: 1px solid black;
}
@media (max-width:992px) {
    .fs_30{
    font-size: 20px;
}
    .logow{
        max-width: 200px;
    }
    .fs_56{
    font-size: 25px;
}
    .ul_modify{
        position: fixed;
        top: 0;
        left: -100%;transition:all 0.3s linear;
        height: 100%;width: 100%;
        background-color: white;
        backdrop-filter: blur(25px);
    }
    .ul_modify.active {
        left: 0;
}
}